// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.nzg-container {
  display: flex;
  .nzg-side-nav {
    width: 150px;
    background: #444;
    color: #ececec;
  }
  .nzg-content {
    flex: 1;
  }
}